h1 {
  margin-top: 200px;
}

h2 {
  color: yellow;
  margin: 20px auto;
}

p, p.p2 {
  width: 80vw;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 300;
  color: white;
  max-width: 600px;
  text-align: justify;
}

p.p2 {
  margin: 30px auto;
  font-size: 180%;
}

.project-block {
  display: inline-block;
  margin: 50px auto 150px auto;
}

.project-title {
  margin: 150px auto 50px auto;
  padding-top: 60px;
  color: white;
  font-size: 45px;
  font-weight: 400;
}

.project-image {
  display: inline-block;
  margin-left: -15px;
  height:  280px;
}

.project-desc {
  display: inline-block;
  margin: 10px;
}
.logo-icon {
  height: 350px;
  width:350px;
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 1px;
}
.project-image img {
  height: 450px;
  margin-top: 60px;
}
.project-image.app img {
  height: 340px;
  margin-left: 10px;
}

.project-button button{
  float: left;
  margin-left: 100px;
}

.repo-button button {
  float: right;
  margin-right: 100px;
}

#projects {
  margin: 50px auto 0 auto;
  background-color: #0b4c84d9;
}

#project_img {
  float: left;
  margin: 5em 5em 3em -2em;
  padding: 1em;
  width: 450px;
  height: 450px;
  clear: right;
}

#pipe {
  color: yellow;
  font-size: 150%;
  margin-top: 2px;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {

.project-block {
  margin: -80px auto 150px auto;
}

  .project-image img {
    height: 220px;
    padding-top: 10px;
    /* margin: -8em 0 -5em -100px; */
  }

  .project-image.app img {
      height: 190px;
      margin-left: 0;
  }

  p, p.p2 {
    /* margin: 0; */
    text-align: start;
  }

}