h1 {
  margin-top: 200px;
}

h2 {
  color: #141414;
  font-size: 30px;
  margin-top: 60px;
}

p, p.project-p {
  width: 80%;
  margin: -15px auto 20px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(32, 46, 68)!important;
  text-align: start;
}

p.p2 {
  font-size: 180%;
}

p.p2.desc {
  padding: 10px 30px 35px 0;
  font-size: 20px;
  color: rgb(32, 46, 68);
}

p.p2.stack {
  color: rgb(32, 46, 68);
  padding: 0 20px;
  font-size: 15px;
  /* margin-top: -150px; */
  margin-left: -20px;
  font-weight: 600;
}

.progress-note {
  text-align: center;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  list-style-type: none;
  background-color: rgb(32, 46, 68);
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

hr {
  margin: 30px auto 0;
  width: 80%;
}

button {
  color: rgb(32, 46, 68); 
  border: rgb(32, 46, 68) solid thin;
  font-weight: bold;
}

.project-button-group.website {
  margin: 0 auto 0 100px;
}

.projects-button {
  color: yellow;
  border: thin white solid;
}

.project-block {
  display: inline-block;
  margin-bottom: 180px;
  margin-top: 0;
}

.project-block.vinyl {
  margin-top: 30px;
}

.project-block.ccs {
  margin-bottom: 130px;
  margin-top: -30px;
}

.project-block.app {
  margin-bottom: 210px;
  margin-top: 30px;
}

.project-block.hshi {
  margin-bottom: 250px;
  margin-top: -50px;
}

.project-block.kc {
  margin-bottom: 260px;
  margin-top: 130px;
}

 .project-block.app.pantry {
    margin-top: 20px;
  }

.project-title {
  margin: 50px auto 0;
  padding-top: 50px;
  color: rgb(32, 46, 68);
  font-size: 40px;
  font-weight: 400;
}

.project-image {
  display: block;
  float: left;
  height:  280px;
}

.project-desc {
  display: inline-block;
}

.project-desc.desktop-mobile {
  margin-top: 20px;
}

.project-desc.ccs {
  margin-top: 30px;
}

.project-desc.app {
  margin-top: 24px;
}

.logo-icon {
  height: 350px;
  width:350px;
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 1px;
}

.project-image img {
  height: 450px;
  margin-top: 60px;
  margin-bottom: -110px;
}

.project-image.ccs img {
  margin-top: 60px;
  margin-bottom: -200px;
}

.project-image.app img {
  height: 340px;
  margin-left: 10px;
  margin-right: 0;
}

.project-image.app.pantry img {
  height: 420px;
  margin-left: 10px;
  margin-right: 0;
}

.project-button button{
  float: left;
  margin-left: 120px;
  margin-top: 20px;
  height: 40px;
}

.repo-button button {
   margin-top: 20px;
   margin-left: -30px;
   height: 40px;
}

.repo-button.disabled button:hover {
  cursor: auto;
  background-color: transparent;
  border: thin rgb(32, 46, 68) solid;
  color: rgb(32, 46, 68);

}

#projects {
  margin: 50px auto 0 auto;
  background-color: rgba(56, 95, 113, 0.24);
  font-size: 80%;
}

#project_img {
  float: left;
  margin: 5em 5em 3em -2em;
  padding: 1em;
  width: 450px;
  height: 450px;
  clear: right;
}

@media only screen and (max-width: 1024px) {

  ul > li {
    font-size: 12px;
    padding: 5px;
  }

  p, p.project-p {
    width: 95%;
    margin: -15px auto 20px;
    font-size: 2vw;
  }

  .project-desc > h2 {
    font-size: 3vw;
  }

  .project-image img {
    height: 40vw;
    margin-left: 10px;
  }

  .project-image.ccs img {
    margin-top: -70px;
    margin-left: 10px;
    padding-bottom: 200px;
    /* height: 470px; */
    height: 40vw;
  }

  .project-image.app img {
    padding-bottom: 200px;
    height: 30vw;
    margin: -200px 5px 75px 8px;
  }

  .project-image.app.pantry img {
    height: 32vw;
    margin-right: 40px;
  }

  .project-desc {
    width: 90%
  }

  .project-desc.desktop-mobile {
    margin-top: 1px;
    margin-left: 10px;
    width: 40vw;
  }

  .project-block.ccs {
    margin-top: 110px;
  }

  .project-desc.ccs {
    margin-top: -130px;
    width: 40vw;
  }

  .project-block.app.pantry {
    margin-top: 250px;
  }

  .project-block.app {
    margin-top: 290px;
    margin-bottom: 100px;
  }

  .project-desc.app {
    margin-top: -90px;
    width: 40vw;
  }

  .project-block.hshi {
    margin-top: -70px;
  }

  .app-h2 {
    margin-top: -110px;
  }

  .project-button {
    margin-left: -50px;
  }

  .project-button button {
    margin-left: 125px;
    padding: 0;
    width: 100px;
    font-size: 90%;
    height: 30px;
  }

  .repo-button button {
    width: 100px;
    font-size: 90%;
    height: 30px;
    padding: 0;
  }

}

@media only screen and (max-width: 800px) {

  .project-image.desktop-mobile img {
    height: 65vw;
    margin-left: 55px;
  }

  .project-image.ccs img {
    height: 65vw;
    margin-left: 55px;
  }

  .project-image.app img {
    height: 48vw;
    margin-left: 60px;
  }

  .project-image.app.pantry img {
    height: 58vw;
    margin-left: 50px;
  }


  p, p.project-p {
    font-size: 20px;
  }

  .project-desc > h2 {
    font-size: 30px;
  }

  .project-desc.desktop-mobile {
    margin-top: 250px;
    width: 80%;
  }

  .project-desc.ccs {
    margin-top: 120px;
    width: 80%;
  }

  .project-block.hshi {
    margin-top: 0;
}

.project-block.kc {
  margin-top: 70px;
}

  .project-desc.app {
    margin-top: 30px;
    width: 80%;
  }

  .project-desc.app.pantry {
    margin-top: 120px;
    width: 80%;
}

  .project-button button {
    margin-left: 190px;
    margin-top: 20px;
  }

  .repo-button button {
    margin-top: 20px;
    margin-left: -30px;
  }

}

@media only screen and (max-width: 600px) {

  .project-block {
    margin: -80px auto 70px auto;
  }

  .project-image.desktop-mobile img {
    height: 65vw;
    margin-top: 120px;
    margin-left: 40px;
  }

  .project-desc.desktop-mobile {
    margin-top: 180px;
}

  .project-image.ccs img {
    margin-top: 80px;
    height: 65vw;
    margin-left: 40px;
  }

  .project-desc.ccs {
    margin-top: 140px;
  }

  .project-image.app img {
    height: 50vw;
    margin-left: 20px;
  }

  .project-desc.app {
    margin-top: 0;
  }

  .project-desc.app.pantry {
    margin-top: 0;
    width: 80%;
  }

  p, p.p2 {
    text-align: start;
  }

  .project-button-group {
    margin-top: 20px;
  }

  .project-button {
    margin-left: 0;
}

  .project-button button {
    margin: 0;
    width: 45%;
  }

  .repo-button button {
    margin: 0 20px 0 0;
    width: 45%;
  }

}

@media only screen and (max-width: 480px) {

  h2 {
    font-size: 20px;
  }

  .project-title {
    margin: -30px auto 0;
  }

  .project-image.desktop-mobile img {
    margin-bottom: 130px;
    margin-left: 25px;
  }

  .project-desc.desktop-mobile {
    margin-top: 100px;
    width: 93%;
    margin-left: 0;
  }

  .project-image.ccs img {
    margin-top: -85px;
    margin-left: 25px;
  }

  .project-block.app {
    margin-top: 230px;
    margin-bottom: 100px;
  }

  .project-block.hshi {
    margin-top: -170px;
    margin-bottom: 80px;
}

.project-block.kc {
  margin-top: -30px;
}


  .project-image.app img {
    height: 50vw;
    margin: -320px 0 -60px 15px;
    padding-bottom: 50px;
  }

  .project-image.app.pantry img {
    height: 55vw;
    margin-left: 40px;
  }

  .project-desc {
    width: 99%;
  }

  p.project-p.desc {
    width: 97%;
    text-align: start;
    margin: 10px;
  }

  .project-desc.ccs {
    margin-top: -100px;
  }

   .project-desc.app {
    margin-top: 160px;
  }

  .project-desc.app > h2 {
    margin-top: -400px;
  }


  .project-desc.app.pantry  > h2{
    margin-top: -230px;
    /* width: 80%; */
  }

  p.p2.stack {
    margin-bottom: 0px;
  }

  .project-button-group {
    margin: 10px;
  }

  .project-button button {
    margin: 0;
    width: 45%;
  }

  .repo-button button {
    margin: 0 -30px 0;
    width: 45%;
  }

  .app-h2 {
    margin-top: -600px;
  }

}

@media only screen and (max-width: 360px) {

  .project-image.app img {
    height: 170px;
  }

  .project-desc.desktop-mobile {
    margin-top: 100px;
  }

  .project-image.app.pantry img {
    height: 64vw;
    margin-left: 20px;
    margin-right: 0;
}

}

@media only screen and (max-width: 330px) {

  .project-image.app img {
    height: 160px;
  }

  .project-image.desktop-mobile img {
    height: 220px;
    margin-left: 8px;
  }

  .project-desc.desktop-mobile {
    margin-top: 15px;
  }

  .project-image.ccs img {
    height: 220px;
    margin-left: 10px;
  }

  .project-desc.ccs {
    margin-top: -140px;
  }

  .app-h2 {
    margin-top: -230px;
  }

}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {

  .project-image img,
  .project-image.ccs img  {
    height: 35vw;
  }

  .project-image.app img {
    height: 27vw;
  }

  .project-image.app.pantry img {
    height: 32vw;
  }

  .project-desc {
    width: 50vw;
  }

}



