main {
  height: 92vh;
}

.main-title {
  margin: 80px auto 50px auto;
  padding-top: 50px; 
  color: white;
  font-size: 45px;
  font-weight: 400;
}

p, p.p2 {
  width: 800px;
  margin: 200px auto 0 auto;
  font-size: 30px;
  color: white!important;
  max-width: 600px;
  text-align: justify;
}

p.p2.heading {
  text-align: center;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}

.projects-button {
  color: yellow;
  border: thin white solid;
}

#home {
  margin-top: -20px;
  background-image: url('../../images/hero3.jpg');
  background-color: rgb(67, 84, 107);
  background-blend-mode: multiply;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

@media only screen and (max-width: 550px) {

  p, p.p2,
  .main-title {
    width: 300px;
    padding: 0;
    margin: 80px auto 20px auto;
    font-size: 180%;
  }

  .main-title {
    padding: 120px 0 50px 0;
  }

  p {
    text-align: start;
    margin: 0 auto;
    font-size: 23px;
  }

  p.p2{
    text-align: start;
    font-size: 20px;
    margin: 35px auto;
  }

  button {
    margin: -80px auto 30px auto;
  }

}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 40px;
    padding-top: 20px;
  }

  p.p2.heading {
    width: 70vw;
  }

}

@media only screen and (max-width: 420px) {
  .main-title {
    margin-top: 60px;
    padding: 50px 0;
    font-size: 38px;
    line-height: 110%;
  }

  p.p2.left{
    margin: -50px 0 60px 30px;
    text-align: center;
  }

  p.p2.heading {
    margin-bottom: 40px;
    margin-top: -40px;
  }

}

