main {
  height: 90vh;
  padding-bottom: 50px;
}

.main-title {
  margin: 440px auto 50px auto;
  padding-top: 100px; 
  color: white;
  font-size: 45px;
  font-weight: 400;
}

p, p.p2 {
  width: 800px;
  margin: 200px auto 0 auto;
  font-size: 30px;
  color: white;
  max-width: 600px;
  text-align: justify;
}

p.p2 {
  font-size: 10px;
}

#home {
  margin-top: -360px;
  background-image: url('../../images/hero3.jpg');
  background-color: rgb(67, 84, 107);
  background-blend-mode: multiply;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}




@media only screen and (max-width: 550px) {
  main {
  padding-bottom: 20px;
  }

  p, p.p2,
  .main-title {
    width: 300px;
    padding: 0;
    margin: 80px auto 20px auto;
    font-size: 180%;
  }

  .main-title {
    padding: 120px 0 50px 0;
  }

  p {
    text-align: start;
    margin: 0 auto;
    font-size: 23px;
  }

  p.p2{
    text-align: start;
    font-size: 20px;
    margin: 35px auto;
  }

  button {
    margin: -50px auto 30px auto;
  }

}

@media only screen and (max-width: 600px) {
  .main-title {
    margin-top: 400px;
    font-size: 40px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 420px) {
  .main-title {
    margin-top: 420px;
    padding: 50px 0;
    font-size: 38px;
    line-height: 110%;
  }

  p.p2.left{
    margin: -50px 0 60px 30px;
    text-align: center;
  }

}

