

main {
  height: 90vh;
}


.main-title {
  margin: 440px auto 50px auto;
  padding-top: 100px; 
  color: white;
  font-size: 45px;
  font-weight: 400;
}

p, p.p2 {
  width: 80vw;
  margin: 200px auto 0 auto;
  font-size: 30px;
  color: white;
  max-width: 600px;
  text-align: justify;
}

p.p2 {
  /* margin: 30px auto; */
}


.hello {
  text-align: start;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-top: 100px;
  width: 800px;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* .circle img {
  border-radius: 50%;
  display: block;
  border: 1px solid white;
} */

.circle:after {
  content: "";
  display: block;
  /* background: radial-gradient(ellipse at center, rgba(255,255,255,0) 10%,rgba(255,255,255,0.5) 70%,rgba(255,255,255,1) 100%); */
    /* background: radial-gradient(ellipse at center, rgba(73, 67, 67, 0.39) 10%,rgba(15, 32, 70, 0.5) 70%,rgb(5, 5, 7) 100%); */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.555) 10%,rgba(0, 0, 0, 0.5) 70%,rgb(5, 5, 7) 100%);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#home {
  margin-top: -360px;
  background-image: url('../../images/hero3.jpg');
  background-color: rgb(67, 84, 107);
  background-blend-mode: multiply;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}


@media only screen and (max-width: 550px) {

  p, p.p2,
  .main-title {
    width: 300px;
    padding: 0;
    margin: 80px auto 20px auto;
    font-size: 180%;
  }

  p {
    text-align: start;
    margin: 0 auto;
    font-size: 23px;
  }

  p.p2{
    text-align: start;
    font-size: 20px;
    margin: 35px auto;
  }

  button {
    margin: -50px auto 100px auto;
  }

}