body {
  margin: 0;
  padding: 0;
  font-family: 'Chau Philomene One', sans-serif; 
  z-index: 0;
  background-color: rgba(56, 95, 113, 0.24);
  text-align: center;
  min-height: 100%;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

h1 {
  font-family: 'Chau Philomene One', sans-serif;
  font-weight: thin;
  font-stretch: expanded;
}

h2 {
  font-family: 'Assistant', sans-serif;
}

p, blockquote, li {
  font-family: 'Assistant', sans-serif;
}

button {
  font-family: 'Assistant', sans-serif;
  color: yellow;
  margin-top: 50px;
  background: transparent;
  border: thin white solid;
  cursor: pointer;
  text-align: center;
  font-size: 120%;
  width: 7.5em;
  height: 50px;
  font-weight: 200;
  transition: 0.8s;
  border-radius: 5px!important;
  -webkit-border-radius: 5px!important;
  -moz-border-radius: 5px!important;
  -ms-border-radius: 5px!important;
  -o-border-radius: 5px!important;
}

button:hover {
  background-color: rgb(32, 46, 68);
  color: yellow;
  border: thin yellow solid;
  transition: 0.8s;
}


button:active {
  background-color: rgb(255, 255, 255);
  color: yellow;
  border: thin rgb(62, 88, 93) solid;
  transition: 0.8s;
}
